
.main-container{
  max-width: 1270px;
  padding: 50px 15px;
}
.list-group .nav-link {
  border: 0;
  color: #252525;
  display: block;
  font-size: 13px;
  font-family: Futura,sans-serif;
  line-height: 2.5;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 15px 5px;
}
.list-group .nav-link:hover {
  color: #639ec8;
}

.list-group .nav-link svg,
.list-group .nav-link img {
  max-width: 22px;
  vertical-align: middle;
  max-height: 22px;
  padding-right: 4px;
  margin-right: 5px;
  width: 24px;
}

.right-wraper{
  padding-top: 20px;
}
.right-wraper .card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px #666;
}
.widgetContainer .widgetTitle {
  font-family: Futura,sans-serif;
  font-size: 21px;
  padding-bottom: 20px;
}
.widgetContainer .widgetTitle .nav-link{
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: .5rem 0rem;
}
.widgetContainer .widgetTitle a {
  color: #000;
}
.widgetContainer .widgetTitle a:hover {
  color: #3474ad;
}
.widgetContainer .widgetTitle .assistCatIcon, 
.widgetContainer .widgetTitle .activeCatIcon {
  max-width: 36px;
  vertical-align: middle;
  max-height: 36px;
  padding-right: 12px;
  width: 36px;
  height: 36px;
}
.widgetContainer .widgetTitle a:hover svg.assistCatIcon path, 
.widgetContainer .widgetTitle a:hover svg.activeCatIcon path {
  fill: #3474ad;
}
.widgetContainer a.btn-link {
  color: #3474ad;
}
